/*  your css code here. If applicable */
.grid-item{
    background-color: lightgray;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    font-size: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px)   ;
    grid-template-rows: repeat(auto-fill,150px)  ;
	gap: 10px
}